h1{
    color: blue;
   }
   body{
    background-color: antiquewhite;
   }
   div{
    color: rgb(214, 19, 5);
   }

   .game-container {
    border: 1px solid black;
   }
   .board{
    display: grid;
    grid-template-columns:repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    content: center;
    margin: 100px solid black;
   }